<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cardio Vascular Disease prediction</title>

  
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="../css/materialize.min.css">
</head>

<body>
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href='/' class="brand-logo">Cardio Vascular Disease Prediction</a>
      <ul class="right hide-on-med-and-down">
        <li><a href='/'>Home</a></li>
        <li><a href='/sugar'>Sugar Check</a></li>
        <li><a href='/cardio'>Cardio Check</a></li>
      </ul>

  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
     
      <h1 class="header center  materialize-red-text.text-lighten-3">Cardio Vascular Disease Prediction</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the probability of having Cardio Vascular Disease
        <br>
        </h5>
      </div>


      <div class="row">
        <form action='/cardiopredict' method="post" class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    <label for="age"><b>Age</b></label>
                    <br>
                    <input placeholder="Enter Your Age" name="1" id="age" type="text" class="validate" >
                </div>
                <div class="input-field col s4">
                    <label for="gender"><b>Gender </b></label>
                    <br>
                    <input id="gender" name="2" placeholder="Enter Your Gender"  type="text" class="validate">
    
                </div>
    
                <div class="input-field col s4">
                    <label for="height"><b>Height</b></label>
                    <br>
                    <input id="height" name="3" placeholder="Enter Your Height" type="text" class="validate">
    
                </div>
                <div class="input-field col s4">
                    <label for="weight"><b>Weight</b></label>
                    <br>
                    <input placeholder="weight" name="4" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="bpHigh"><b>Systolic BP</b></label>
                    <br>
                    <input id="bpHigh" name="5" placeholder="Enter Your Systolic BP"  type="text" class="validate">
                </div>
                <div class="input-field col s4">
                  <label for="bpLow"><b>Diastolic BP</b></label>
                  <br>
                  <input id="bpLow" name="6" placeholder="Enter Your Diastolic BP"  type="text" class="validate">
              </div>
                <div class="input-field col s4">
                    <label for="chol"><b>Cholestrol</b></label>
                    <br>
                    <input id="chol" name="7" placeholder="Enter Your Cholestrol Level"  type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <label for="glucose"><b>Glucose</b></label>
                    <br>
                    <input id="glucose" name="8" placeholder="Enter Your Glucose Level" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                  <label for="smoke"><b>Smoke</b></label>
                  <br>
                  <input id="smoke" name="9" placeholder="Whether you Smoke or not"  type="text" class="validate">
              </div>
              <div class="input-field col s4">
                  <label for="drink"><b>Drink</b></label>
                  <br>
                  <input id="drink" name="10" placeholder="Whether you Drink or not" type="text" class="validate">
              </div>
              <div class="input-field col s4">
                <label for="active"><b>Active</b></label>
                <br>
                <input id="active" name="11" placeholder="Are you physically active or not" type="text" class="validate">
            </div>
            <div class="input-field col s4">
              <label for="active"><b>BMI</b></label>
              <br>
              <input id="bmi" name="12" placeholder="Enter your BMI" type="text" class="validate">
          </div>
    
          </div>
    
          <div class="row center">
    
              <button type="submit" class="btn-large waves-effect waves-light">Predict Probability</button>

          </div>
        </form>
  </div>

      <br>

     
    <br><br>
  </div>
  </div>>

  <footer class="page-footer teal lighten-1">
    <div class="footer-copyright">
      <div class="container" style="padding-bottom: 1rem; position: fixed; font-size: 1.2rem; margin-left: 5rem;">
        <p>&copy; Group 6 RCOEM 2022</p>
        
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>

